- @movie.comments.each do |comment|
  .well
    %p
      %strong= comment.user.name
      \:
      = comment.body
      %p= comment.created_at
      - if comment.user == current_user
        =link_to '[X]', [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure?' }
