%h1.text-center Comments leaderboard
%table.table
  %thead
    %tr
      %th{:scope => "col"} Rank
      %th{:scope => "col"} Name
      %th{:scope => "col"} Number of comments
  %tbody
    - @users.each_with_index do |user, i|
    %tr
      %td= i + 1
      %td= user.name
      %td= user.comments_count